# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & testy
.pytest_cache/
.coverage
htmlcov/

# Citlivé údaje a konfigurace 
.env
*.env
# Lokální databáze 
*.db
*.sqlite3

# Virtuální prostředí
.venv/
venv/
env/

# IDE nastavení
.vscode/
.idea/

# OS balast (macOS & Windows)
.DS_Store
Thumbs.db