# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & testy
.pytest_cache/
.coverage
htmlcov/

# Citlivé údaje a konfigurace (EXTRÉMNĚ DŮLEŽITÉ)
.env
*.env

# Lokální databáze (nechceme nahrávat testovací databázi)
*.db
*.sqlite3

# Virtuální prostředí
.venv/
venv/
env/

# IDE nastavení
.vscode/
.idea/

# OS balast (macOS & Windows)
.DS_Store
Thumbs.db