{% extends "base.html" %}

{%block title %} Katalog produktů | ERP {% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Katalog produktů</h2>
</div>

<!--table of products-->
<div class="overflow-x-auto">
    <table class="w-full text-left border-collapse">
        <thead>
            <tr class="bg-gray-100 border-b border-gray-200 text-gray-600 uppercase text-xs">
                <th class="py-3 px-4">ID</th>
                <th class="py-3 px-4">SKU</th>
                <th class="py-3 px-4">Název</th>
                <th class="py-3 px-4">Cena bez DPH</th>
                <th class="py-3 px-4">Skladem</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for product in products %}
            <tr class="hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-900">{{ product.id }}</td>
                <td class="py-3 px-4 text-sm text-gray-500 font-mono">{{product.sku}}</td>
                <td class="py-3 px-4 text-sm font-semibold text-blue-600">{{product.name}}</td>
                <td class="py-3 px-4 text-sm text-gray-700">{{ "%.2f"|format(product.selling_price) }} Kč</td>
                <td class="py-3 px-4 text-sm">
                    <span class="px-2 py-1 text-xs font-semibold rounded-full {% if product.current_stock > 0 %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
                        {{ product.current_stock }} ks
                    </span>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="py-4 text-center text-gray-500">Žadné produkty nebyly nalezeny.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}